@page "/ManageUsers"

<PageTitle>Manage Users</PageTitle>

@using BlazorApp.Data
@using Microsoft.AspNetCore.Identity;
@inject IUserService IUserService;

<AuthorizeView>
    <Authorized>
<h1>Manage Users</h1>


        @if (users == null)
        {
                    <p><em>Loading...</em></p>
        }
        else
        {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td style="white-space: nowrap">
                            <NavLink  href="@($"users/edit/{user.Id}")" class="btn btn-sm btn-primary mr-1">Edit</NavLink>
                            <button @onclick="@(() => DeleteUser(user.Id))" class="btn btn-sm btn-danger btn-delete-user">    
                                        <span>Delete</span>
                            </button>
                            </td>
                        </tr>
                    }
                        </tbody>
                    </table>
        }
    </Authorized>
     <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<IdentityUser> users;

    protected override async Task OnInitializedAsync()
    {
        users = await IUserService.GetUsers();
    }
    private async void DeleteUser(string id) 
    {
        var user = users.First(x => x.Id == id);
        await IUserService.DeleteUser(user);
        users.Remove(user);
        StateHasChanged();
    }
}
